<meta charset="UTF-8"></meta>
	
	<div class="content">
		<h2>Log in or register</h2>
		<h3 ng-show="loginCtrl.showErrMessage">Nieprawidłowe dane
			logowania! Spróbuj ponownie</h3>
		<div class="my_form" ng-show="!authenticated">
			<form class="form_inputs">
				<input type="text" ng-model="loginCtrl.credentials.username"
					required="required" placeholder="username"><br> <input
					type="password" ng-model="loginCtrl.credentials.password"
					required="required" placeholder="password"><br>
				<button class="my_button" ng-click="loginCtrl.login()">Sign In</button>
					
			</form>
			
		</div>
		<a href="#!register" class="my_button">Register new user</a>
		<p  ng-controller="MainController as mainCtrl">{{mainCtrl.menuClick('login')}}</p>
	</div>
