<meta charset="UTF-8">
</meta>

<div class="content">
	

	<h2>Receipt details</h2>
	<h3>{{receiptCtrl.info}}</h3>	
	<div class="info_blocks">
		<span ng-show="!receiptCtrl.receipt.id">No receipt or no access</span>
		<div class="block" ng-show="receiptCtrl.receipt.id">
			<ul>
				<li>{{"id: " + receiptCtrl.receipt.id}}</li>
				<li>{{"date: " + receiptCtrl.receipt.date}}</li>
				<li>{{"amount: " + receiptCtrl.receipt.amount}}</li>
				<li>{{"net amount: " + receiptCtrl.receipt.netAmount}}</li>
				<li>{{"vat value: " + receiptCtrl.receipt.vatValue}}</li>
				<li>{{"vat percentage (if given): " + receiptCtrl.receipt.vatPercentage}}</li>
				<li>{{"client: " + receiptCtrl.receipt.client}}</li>
				<li>{{"worker: " + receiptCtrl.receipt.worker}}</li>
				<li>{{"description: " + receiptCtrl.receipt.description}}</li>
				<li>{{}}</li>
				<li>{{}}</li>
			</ul>
			<button class="my_button delete_button" ng-show="receiptCtrl.showDeleteButton" ng-click="receiptCtrl.confirmDeleting()">Delete receipt</button>
		<button class="my_button delete_button" ng-show="receiptCtrl.showConfirmButton" ng-click="receiptCtrl.deleteReceipt()">Really delete? Click to confirm deleting</button>
				
		</div>	
	</div>

	<p  ng-controller="MainController as mainCtrl">{{mainCtrl.menuClick('')}}</p>
</div>
