<meta charset="UTF-8">
</meta>

<div class="content">
	

	<h2>Receipt details</h2>

	<div class="info_blocks">
	
		<div class="block">
			<ul>
				<li>{{"id: " + receiptCtrl.receipt.id}}</li>
				<li>{{"date: " + receiptCtrl.receipt.date}}</li>
				<li>{{"amount: " + receiptCtrl.receipt.amount}}</li>
				<li>{{"net amount: " + receiptCtrl.receipt.netAmount}}</li>
				<li>{{"vat value: " + receiptCtrl.receipt.vatValue}}</li>
				<li>{{"vat percentage (if given): " + receiptCtrl.receipt.vatPercentage}}</li>
				<li>{{"client: " + receiptCtrl.receipt.client}}</li>
				<li>{{"worker: " + receiptCtrl.receipt.worker}}</li>
				<li>{{"description: " + receiptCtrl.receipt.description}}</li>
				<li>{{}}</li>
				<li>{{}}</li>
			</ul>		
		</div>	
	</div>
	<p  ng-controller="MainController as mainCtrl">{{mainCtrl.menuClick('')}}</p>
</div>
