<meta charset="UTF-8"></meta>
<div class="content">
	<h2>Add new Transfer</h2>
	<h3>{{transferCtrl.transferMessage}}</h3>
	<h3 ng-show="!authenticated">Log in to add transfer</h3>
	<div class="" ng-show="authenticated">
		<form class="form_inputs">
			<div class="transfer_form">
			<div class="radio_block">

			<h4>Choose type of transaction (with receipt): </h4>
			<div>
			<input class="standard_transfer_radio" type="radio" name="transfer_type" value="IN_TRANSFER" id="in"
				   required ng-model="transferCtrl.transfer.transferType">
			<label for="in" class="radio">In transfer</label>
		</div>
			<input class="standard_transfer_radio" type="radio" name="transfer_type" value="OUT_TRANSFER"
				   id="out" ng-model="transferCtrl.transfer.transferType">
			<label for="out" class="radio">Out transfer</label></br>

			<h4>Or make special transaction (without receipt):</h4>
			<input class="special_transfer_radio" type="radio" name="transfer_type" value="SALARY" id="salary" ng-model="transferCtrl.transfer.transferType">
			<label for="salary" class="radio">Salary (out transfer)</label>
			<span> - remaining profit is (flat / lump): </span>{{balance.profit_remaining_flat}} / {{balance.profit_remaining_lump}}</br>
			<input class="special_transfer_radio" type="radio" name="transfer_type" value="VAT_OUT_TRANSFER"
				   id="vat" required ng-model="transferCtrl.transfer.transferType">
			<label for="vat" class="radio">Vat out transfer (to the treasury)</label>
			<span> - current vat balance is: </span>{{balance.vat_balance}}</br>
			<div class="my_radio">
			<input class="special_transfer_radio" type="radio" name="transfer_type" value="TAX_OUT_TRANSFER"
				   id="tax" ng-model="transferCtrl.transfer.transferType">
			<label for="tax" class="radio">Tax out transfer (to tax office)
				- current tax balance is (flat / lump): {{balance.flat_tax_balance}} / {{balance.lump_sum_tax_balance}}
			</label>
		</div>			
			</br>
		</div>
		<div class="transfer_inputs">
		<h4>Enter values: </h4>
			<input type="date" ng-model="transferCtrl.transfer.date" placeholder="date" title="put date"><br> 
				<input type="number" ng-model="transferCtrl.transfer.amount"
				required="required" placeholder="amount"><br>				
				<input type="text" ng-model="transferCtrl.transfer.from_" placeholder="from"><br>
				<input type="textr" ng-model="transferCtrl.transfer.to_" placeholder="to"><br>
				<input type="text" ng-model="transferCtrl.transfer.description"	placeholder="description"><br>
			</div>
			</div>
				<div class="transfer_form">
					<h3>Choose a receipt (you cannot make a standard transfer before defining the receipt),
						the following invoices are the only ones not used in any transaction: </h3>
				<div ng-repeat="receipt in transferCtrl.receiptsWithoutTransfer">
				<label class="radio" >
					<input type="radio" ng-model="transferCtrl.receiptId" value={{receipt.id}} >{{"amount: "+receipt.amount 
					+" client: "+ receipt.client}}</label><br>
				</div>
				</div>
			<button type="submit" class="my_button" ng-click="transferCtrl.addTransfer()">Add</button>
		</form>
	</div>
	<p  ng-controller="MainController as mainCtrl">{{mainCtrl.menuClick('transfer')}}</p>
</div>
