<meta charset="UTF-8"></meta>
<div class="content">
	<h2>Add new Transfer</h2>
	<h3 ng-show="transferCtrl.operationInfo">{{transferCtrl.operationInfo}}
		<a href="{{'#!'+transferCtrl.transferDetailsLink}}" 
			ng-show="transferCtrl.transferDetailsLink">Go to transfer</a>
	<h3 ng-show="!authenticated">Log in to add transfer</h3>
	<div class="" ng-show="authenticated">
		<form class="form_inputs">
			<div class="transfer_form">
			<div class="radio_block">

			<h4>Choose type of transaction<br>(with receipt): </h4>
			
			<label for="in" class="radio"><input ng-click="transferCtrl.showReceiptsBlock()" type="radio"
			 name="transfer_type" value="IN_TRANSFER" id="in" required ng-model="transferCtrl.transfer.transferType">In transfer</label><br>
				
			<label for="out" class="radio"><input ng-click="transferCtrl.showReceiptsBlock()" type="radio" name="transfer_type" value="OUT_TRANSFER"
				   id="out" ng-model="transferCtrl.transfer.transferType">Out transfer</label></br>

			<h4>Or make special transaction<br>(without receipt):</h4>
			<label for="salary" class="radio"><input type="radio" name="transfer_type" ng-click="transferCtrl.hideReceiptsBlock()"
				value="SALARY" id="salary" ng-model="transferCtrl.transfer.transferType">Salary (out transfer)</label><br>		
			
			
			<label for="vat" class="radio"><input ng-click="transferCtrl.hideReceiptsBlock()" type="radio" name="transfer_type" value="VAT_OUT_TRANSFER"
				   id="vat" required ng-model="transferCtrl.transfer.transferType">Vat out transfer (to the treasury)</label><br>		
			
			<label for="tax" class="radio"><input ng-click="transferCtrl.hideReceiptsBlock()" type="radio" 
				name="transfer_type" value="TAX_OUT_TRANSFER" id="tax" ng-model="transferCtrl.transfer.transferType">
				Tax out transfer (to tax office)</label>
				
			</br>
		</div>
		<div class="transfer_inputs">
		<h4>Enter values: </h4>
			<input type="date" ng-model="transferCtrl.transfer.date" placeholder="date" title="put date"><br> 
				<input type="number" ng-model="transferCtrl.transfer.amount"
				required="required" placeholder="amount"><br>				
				<input type="text" ng-model="transferCtrl.transfer.from" placeholder="from"><br>
				<input type="text" ng-model="transferCtrl.transfer.to" placeholder="to"><br>
				<input type="text" ng-model="transferCtrl.transfer.description"	placeholder="description"><br>
			</div>
			</div>
				<div class="info_blocks" ng-show="transferCtrl.showReceipts">
					<h3>Choose a receipt (you cannot make a standard transfer before defining the receipt),
						the following invoices are the only ones not used in any transaction: </h3>
				<div ng-repeat="receipt in transferCtrl.receiptsWithoutTransfer" class="block small_block">
				<label class="radio_list" >
					<input type="radio" class="radio" ng-model="transferCtrl.receiptId" value={{receipt.id}} >				
					<li>{{"amount: "+receipt.amount}}</li>
					<li>{{"date: "+receipt.date}}</li>
					<li>{{"client: "+ receipt.client}}</li>
					<li>{{"worker: "+receipt.worker}}</li>
					<li>{{"description: "+receipt.description}}</li></input></label><br>
				</div>
				</div>
			<button type="submit" class="my_button" ng-click="transferCtrl.addTransfer()">Add</button>
		</form>
	</div>
	<p  ng-controller="MainController as mainCtrl">{{mainCtrl.menuClick('transfer')}}</p>
</div>
