<!DOCTYPE html>
<html data-ng-app="app">
<head>
<meta charset="UTF-8"></meta>
<title>J-Countant</title>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="icon" type="image/png" ng-href="images/favicon.png" />
<link rel="shortcut icon" type="image/png" ng-href="images/favicon.png" />
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
	<main>
	<!-- <header ng-controller="LoginController as loginCtrl"> -->
	<header ng-controller="MainController as mainCtrl">
        <nav>
          <div class="bar top_bar">
			<span class="logo"><a href="#!/:window.location.reload(true)">
            	<img class="logo_image" src="images/J-Countant.jpg"/></a></span>            
        	
           <a href="#!login" ng-show="!authenticated" ng-click="mainCtrl.menuClick('login')" id="login"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</a>				
					<a href="#!login" ng-show="authenticated" ng-click="loginCtrl.logout()" ng-controller="LoginController as loginCtrl"><i class="fa-solid fa-power-off"></i> LOGOUT</a>
			</div>
        </nav>

        <nav>
          <div class="bar menu_bar">
			<a href="#!main" ng-click="mainCtrl.menuClick('main')" id="main"><i class="fa-solid fa-chart-simple"></i> Home</a>
			<a href="#!receipt" ng-click="mainCtrl.menuClick('receipt')" id="receipt"><i class="fa-solid fa-file-invoice-dollar"></i> New Receipt</a>
            <a href="#!transfer" ng-click="mainCtrl.menuClick('transfer')" id="transfer"><i class="fa-solid fa-money-bill-transfer"></i> New Transfer</a>    
            <a href="#!search" ng-click="mainCtrl.menuClick('search')" id="search"><i class="fa-solid fa-magnifying-glass"></i> Search...</a>
			<a href="#!info" ng-click="mainCtrl.menuClick('info')" id="info"><i class="fa-solid fa-circle-info"></i> Info</a>        
		  </div>		  
        </nav>
		<span ng-show="authenticated" class="login_info">Logged in user: {{currentUserName}}</span>
      </header>
		
	<div ng-view></div>

	<div class="footer">
		&copy TG 2022
	</div>

	<script type="text/javascript"
		src="bower_components/angular/angular.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-resource/angular-resource.js"></script>
		<script type="text/javascript"
		src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/service.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	</main>

</body>
</html>