@charset "UTF-8";

html {
	/* font-family: sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 12px;   
}

body {
	margin-top: 2rem;
	background-color: rgba(184, 213, 184, 1); 
}

main {
    margin: auto;
    max-width: 900px;
    min-width: 500px;
    border-color: antiquewhite;
    color:black;
    border-style: solid;
    border-width: 3px;
    border-radius: 0.4rem;   
    display: block;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
    text-size-adjust: 120%;

}

h1, h2, h3 {
	text-align: center;
}

nav {
    display: block;
    width: 100%;
}

.bar {
    /* display: flex;      */
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    background-color: #05a8aa;  
    align-items: center;
}

.bar > a {	
	padding: 0.5em;	
    text-align: center;
    text-decoration: none;  
}

.bar > a:hover { 
    font-weight: bolder;
}

.top_bar { 
    justify-content: space-between;
    align-content: flex-end;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    border-bottom-width: 3px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-style: solid;
    color: antiquewhite;
}

.menu_bar {
    justify-content: center;
    width: 100%;    
}

.bar > a {
    flex: 1 1 0;
    color: antiquewhite;
}

@media (max-width: 610px ) {
    .bar {
        display: block;    
    }
    .bar > a { 
        display: block;      
    }
}

@media (min-width: 610px ) {
    .bar {
        display: flex;
    }
}

.logo {
    width: 80%; 
    margin: 0;
}

.logo_image {    
    width: 25%;  
    float: left;  
   
}

.selected {
    background-color: rgba(95, 191, 177, 1);
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
    color: black;
}

.login_info {
    font-size: 0.9rem;
    padding: 2px;
    padding-right: 17px;
    float: right;
    color: gray;    
}

.content {
    background-color: rgba(95, 191, 177, 1);
    padding: 1rem;
}

.info_blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.block {
    background-color: rgba(250, 235, 215, 0.7);
    border-radius: 0.5rem;
    margin: 3px;
    margin-top: 8px;
    padding: 3px;
}

.small_block {
    flex-grow: 1;
    margin: 6px;
    max-width: 30%;
    background-color: rgba(250, 235, 215, 0.7);
    transition-duration: .5s;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    cursor: pointer;
}

.small_block:hover {
    background-color: rgba(250, 235, 215, 0.9);
    transition-duration: .5s;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); 
}

.block > ul, .radio_list > li  {
    list-style: none;
    padding-left: 3px;
    position: relative;
}

.form_block {
	display: inline-grid;
	flex-direction: column;
    align-self: flex-start;
    width: 40%;
}

/* balance radios */
.balance_buttons {    
    position: absolute;
    float: right;
    right: 7%;
    top: -5px;
    width: 23%;  
    font-size: 1rem;
}

.my_form, .search_form {
	padding: 10px;
	justify-content: center;
	display: flex;    
}

.my_form > form {
    width: 40%;
    align-items: center;
}

.form_inputs > input, .transfer_inputs > input {
    padding: 5px;
    width: 96%;
    border-radius: 0.5rem;
    border-width: 0;
    margin: 1px;   
    background-color: antiquewhite;
}

.transfer_form, .search_forms, .transfer_details_info {
    display: flex;
    justify-content: space-between;
    flex-basis: 1;
}

.transfer_details_column {
    padding: 3px;
    min-width: 50%;    
}

.radio_block {
    width: 44%;
    border-right-style: solid;
    border-width: 1px;
    padding-right: 25px;
}

.radio_block > input {
    text-align: center;
}

.radio_label {
	color: rgba(75,85,99);
	cursor: pointer;
	margin-left: .5em;
	display: inline;
    vertical-align: bottom;
}

input[type="radio"] {
    accent-color: rgba(6, 95, 70);
    width: 1em;
	height: 1em;
	position: relative;
}

input[type="radio"]:checked + .radio_label {
    font-weight: bolder;
	color: black;
    font-size: larger;
    vertical-align: bottom;
}

input[type="radio"]:checked {
    width: 1.1em;
	height: 1.1em;
}

.transfer_inputs {
    width: 48%;
    margin-left: 10px;
    float: right;
}

.my_button {    
	padding: 5px;
    margin-top: 5px;
    max-width: 450px;
	background-color: black;    
	border: none;
	color: white;
	cursor: pointer;  	
	width: 99%;    
	font-size: 1.1rem;
    border-radius: 0.5rem;
    border-width: 0;
    transition-duration: 1s;
    opacity: 0.7;
}

.delete_button {
    float: right;
    max-width: 150px;
    margin: 10px;
}

.add_transfer_button_div {    
    max-width: 350px;
    margin: auto;
    justify-self: center;
}

.my_button:hover {	
    transition-duration: 1s;
    opacity: 1;
}



.footer {
    background-color: rgba(95, 191, 177, 1);
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 1rem;
    border-bottom-left-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}

